In [1]:
import pandas as pd;
import datetime as dt;
import numpy as np;
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import scale
import pickle

In [85]:
weather = pd.read_csv("weather (table 7)_training_update.csv")
volume = pd.read_csv("volume(table 6)_training.csv")

del volume['vehicle_type']
volume['time'] =  pd.to_datetime(volume['time'], format = "%Y-%m-%d %H:%M:%S")
volume = volume.dropna()

time = []

for c in volume['time']:
    time.append(c - dt.timedelta(seconds = c.second, minutes = c.minute))
    
volume['time'] = time
volume.to_csv("volume_time.csv")

group_dc_etc = volume.groupby(['time', 'tollgate_id', 'direction']).count().reset_index()
group = volume.groupby(['time', 'tollgate_id', 'direction', 'has_etc']).count().reset_index()

del group_dc_etc['vehicle_model']
group_dc_etc['count'] = group_dc_etc['has_etc']
del group_dc_etc['has_etc']

date = []
week = []
hour = []

for c in group_dc_etc['time']:
    date.append(c - dt.timedelta(seconds = c.second, minutes = c.minute, hours = c.hour))
    
group_dc_etc['date'] = date

group['count'] = group['vehicle_model']
del group['vehicle_model']

time_weather = []
for c in group_dc_etc['time']:
    time_weather.append(c - dt.timedelta(hours = c.hour % 3))
    
group_dc_etc['time_weather'] = time_weather

# weather

weather['time_weather'] = pd.to_timedelta(weather['hour'], unit="H") + pd.to_datetime(weather['date'], format="%Y-%m-%d")
del weather['date']
del weather['hour']

In [88]:
training = pd.merge(group_dc_etc, weather, on = 'time_weather')

In [90]:
del training['time_weather']
del training['date']

In [92]:
idx = group_dc_etc.iloc(\
                        (group_dc_etc['date'] >= dt.date(year = 2016, day = 30, month = 9)) & \
                        (group_dc_etc['date'] <= dt.date(year = 2016, day = 7, month = 10)))

group_dc_etc[idx.axis].groupby(['date']).sum()

            tollgate_id  direction  count
date
2016-09-30          234         48  25979
2016-10-01          240         48  17705
2016-10-02          222         48  14560
2016-10-03          228         48  13909
2016-10-04          236         48  16375
2016-10-05          232         48  17262
2016-10-06          232         48  15797
2016-10-07          230         48  15105

In [93]:
training

,time,tollgate_id,direction,count,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,2016-09-19 00:00:00,1,0,28,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
1,2016-09-19 00:00:00,1,1,227,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
2,2016-09-19 00:00:00,2,0,2,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
3,2016-09-19 00:00:00,3,0,49,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
4,2016-09-19 00:00:00,3,1,386,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
5,2016-09-19 01:00:00,1,0,34,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
6,2016-09-19 01:00:00,1,1,25,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
7,2016-09-19 01:00:00,2,0,3,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
8,2016-09-19 01:00:00,3,0,45,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
9,2016-09-19 01:00:00,3,1,13,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
10,2016-09-19 02:00:00,1,0,23,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
11,2016-09-19 02:00:00,1,1,24,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
12,2016-09-19 02:00:00,3,0,43,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
13,2016-09-19 02:00:00,3,1,9,1008.2,1013.2,329.0,2.8,22.2,76.0,0.0
14,2016-09-19 03:00:00,1,0,22,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
15,2016-09-19 03:00:00,1,1,44,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
16,2016-09-19 03:00:00,3,0,29,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
17,2016-09-19 03:00:00,3,1,18,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
18,2016-09-19 04:00:00,1,0,35,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
19,2016-09-19 04:00:00,1,1,58,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
20,2016-09-19 04:00:00,3,0,29,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
21,2016-09-19 04:00:00,3,1,14,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
22,2016-09-19 05:00:00,1,0,23,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
23,2016-09-19 05:00:00,1,1,86,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
24,2016-09-19 05:00:00,2,0,47,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
25,2016-09-19 05:00:00,3,0,50,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
26,2016-09-19 05:00:00,3,1,31,1008.3,1013.3,15.0,4.5,24.4,67.0,0.0
27,2016-09-19 06:00:00,1,0,53,1007.4,1012.3,12.0,6.2,26.8,56.0,0.0
28,2016-09-19 06:00:00,1,1,168,1007.4,1012.3,12.0,6.2,26.8,56.0,0.0
29,2016-09-19 06:00:00,2,0,103,1007.4,1012.3,12.0,6.2,26.8,56.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3220,2016-10-17 18:00:00,1,0,60,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3221,2016-10-17 18:00:00,1,1,185,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3222,2016-10-17 18:00:00,2,0,162,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3223,2016-10-17 18:00:00,3,0,248,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3224,2016-10-17 18:00:00,3,1,245,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3225,2016-10-17 19:00:00,1,0,57,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3226,2016-10-17 19:00:00,1,1,118,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3227,2016-10-17 19:00:00,2,0,112,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3228,2016-10-17 19:00:00,3,0,150,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3229,2016-10-17 19:00:00,3,1,155,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3230,2016-10-17 20:00:00,1,0,47,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3231,2016-10-17 20:00:00,1,1,99,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3232,2016-10-17 20:00:00,2,0,88,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3233,2016-10-17 20:00:00,3,0,130,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3234,2016-10-17 20:00:00,3,1,119,1014.0,1019.0,341.0,1.5,19.1,92.0,0.0
3235,2016-10-17 21:00:00,1,0,46,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3236,2016-10-17 21:00:00,1,1,79,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3237,2016-10-17 21:00:00,2,0,65,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3238,2016-10-17 21:00:00,3,0,94,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3239,2016-10-17 21:00:00,3,1,70,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3240,2016-10-17 22:00:00,1,0,26,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3241,2016-10-17 22:00:00,1,1,52,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3242,2016-10-17 22:00:00,2,0,65,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3243,2016-10-17 22:00:00,3,0,56,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3244,2016-10-17 22:00:00,3,1,62,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3245,2016-10-17 23:00:00,1,0,9,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3246,2016-10-17 23:00:00,1,1,34,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3247,2016-10-17 23:00:00,2,0,37,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3248,2016-10-17 23:00:00,3,0,25,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0
3249,2016-10-17 23:00:00,3,1,43,1013.9,1018.9,322.0,2.5,19.3,90.0,0.0